{%load static from staticfiles %}


<section class="intro-section pt100 pb50">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 intro-text mb-5 mb-lg-0">
					<h2 class="sp-title">ABOUT THE <span>COMPANY</span></h2>
					<h3>We will help to find best services for your <span>PREMIUM CARS</span></h3>
                    <p style="text-align: left;">Our company brings together hassle free car servicing and detailing. We are one of the best car servicing center in india that works to meet your busy schedule. Our company helps in maximising the lifespan and car value with regular car servicing.
                    Our partnering services stations are trained to service a large vary of model of cars using the most recent techniques and diagnostic instrumentality. We have a tendency to aim at giving easy and honest service </p>
				</div>
				<div class="col-lg-5 pt-4">
					<img src="/media/pic11.jpeg" alt="" style="margin-top: 70px;">
				</div>
			</div>
		</div>
	</section>