{% load static from staticfiles %}

	<footer id="footer">
		<hr>
				<div class="inner">
					<div class="content">
						<section style="margin-left: 20px; margin-right: 10px;">
							<h3>CONTACT US</h3>
							<h5>TRACK AUTOMOTIVE<br>
								Abcd nager<br>
								Nagercoil<br>
							Pincode:691009</h5>
					
					
					</section>
						<section style="margin-left: 20px; margin-right: 10px;">
							<h3>MENU</h3>
							
								
									<h5><a href="{% url 'home' %}">Home</a><br></h5>
									<h5><a href="{% url 'about' %}">About us</a><br></h5>
									<h5><a href="{% url 'services' %}">Services</a><br></h5>
									<h5><a href="{% url 'gal1' %}">Gallery</a><br></h5>
									<h5><a href="{% url 'register' %}">Contact</a><br></h5>
							
							
						</section>
						
					</div>
					<div class="copyright"><h5>Copyright &copy; <script> document.write(new Date().getFullYear());</script>.All rights reserved. <br>This template is powered</i> by <a href="#" target="_blank">ALINFOTECH</a></h5>
					</div>
				</div>
			</footer>